/*variables for colors*/
:root {
    --white: #FFF8F1;
    --lightbrown: #E3A465;
    --mediumbrown: #8F5D2A;
    --darkbrown: #502800;
}

* {
    box-sizing: border-box;
    background-color: #FFF8F1;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 2.5em;
}

main {
    min-height: 500px;
    position: relative;
}

.wrapper {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: var(--darkbrown);
    width: 100%;
    justify-content: center;
}

footer > div {
    color: var(--white);
    background-color: var(--darkbrown);
    margin: 5px 20px 5px 20px;
}


.footer-copy {
    margin-right: auto;
}

.footer-links {
    margin-left: auto;
}

h2 {
    font-weight: 300;
    font-size: 1em;
}

#tryout {
    margin-bottom: 100px;
}

.email-form {
    display: inline-block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.email-form > * {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-color: var(--mediumbrown);
    border-width: medium;
    /*    background-color: #FFF8F1;
    */
}

.email-form > input {
    background-color: white;
}

.email-form > input[type=email],
input[type=password],
input[type=text],
input[type=number] {
    width: 100%;
}

.email-form > input[type=button] {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.submit-button {
    margin-top: 50px;
    margin-bottom: 100px;
}

.email-form > fieldset {
    margin-top: 50px;
    width: 100%;

}

input[type=button]:hover {
    background-color: var(--lightbrown);
}

#history:hover {
    background-color: #E3A465;
}

.inventory-table {
    min-height: 200px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 50px;
}

.item-row:nth-child(even),
.item-row:nth-child(even) > * {
    background-color: var(--lightbrown);
}

.item-row:nth-child(odd),
.item-row:nth-child(odd) > * {
    background-color: var(--mediumbrown);
    color: white;
}

.item-row:nth-child(1),
.item-row:nth-child(1) > * {
    background-color: var(--white);
    color: black;
}

.item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.item-detail {
    width: 15%;
    overflow: hidden;
}

.item-qty,
.item-unit {
    width: 7%;
}

.item-description {
    width: 35%
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

#edit-items-button {
    border: 2px solid var(--darkbrown);
    color: var(--darkbrown);
    background-color: var(--white);
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

#new-item-button,
#history {
    border: none;
    background-color: var(--darkbrown);
    color: white;
    padding: 10px;
}

@media only screen and (max-width: 450px) {
    .email-form {
        width: 80%;
    }
}
