/*
colors: 
FFF8F1 off white
E3A465
8F5D2A
502800 dark brown
*/


* {
    box-sizing: border-box;
    background-color: #FFF8F1;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5em;
}

#login-wrapper {
    text-align: center;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1em;
}

#login-form {
    display: inline-block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#login-form > * {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-family: 'Roboto Mono', monospace;
    border-color: #8F5D2A;
    border-width: medium;
}

#login-form > input[type=email],
input[type=password],
input[type=text] {
    width: 100%;
}

#login-form > input[type=button] {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
